body {
  font-family: Arial, sans-serif;
  background-color: #fafad2;
  text-align: center;
}

.search-container {
  text-align: center;
  margin: 20px 0;
}

#searchInput {
  padding: 10px;
  width: 80%;
}

#searchButton {
  padding: 10px 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  justify-items: center;
}


/* .movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}  class name? class list?를 사용해서 이미지에 border-radius 적용시켜보기.. */
